[Unit]
Description=Dot Matrix Bot service
After=network.target

StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=%h/bin/dotmtxbot
WorkingDirectory=%h/dotmtxbot
EnvironmentFile=%h/.config/dotmtxbot.conf

Restart=always
RestartSec=30s

[Install]
WantedBy=default.target
